configtool/bin/Debug/configtool.exe.config
configtool/bin/Debug/configtool.vshost.exe.config
configtool/bin/Debug/configtool.vshost.exe.manifest
configtool/bin/Debug/prova.cfg
configtool/bin/Debug/prova.ctp
configtool/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
configtool/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
configtool/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
configtool/obj/Debug/configtool.FormConfig.resources
configtool/obj/Debug/configtool.Properties.Resources.resources
configtool/obj/Debug/configtool.csproj.FileListAbsolute.txt
configtool/obj/Debug/configtool.templateDlg.resources
cfgToolSetup/cfgToolSetup/Express/CD_ROM/
cfgToolSetup/cfgToolSetup/Express/SingleImage/LogFiles/
cfgToolSetup/cfgToolSetup/Express/SingleImage/Reports/
configtool/bin/Debug/
configtool/bin/
configtool/obj/
*.suo
cfgToolSetup/cfgToolSetup/Express/SingleImage/DiskImages/DISK1/setup.exe
*.user
UpgradeLog.htm
UpgradeLog2.htm
UpgradeLog3.htm
.vs/
cfgToolSetup/
dcms_setup/
